.dona{
    height: 270px;
    width: 580px;
    background-color: blue;
    background-image: url('../assets/Letter.png');
    background-size: cover;
    background-position: center;
    margin-right:80px;
}