@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family:regular ;
  src: url("./assets/fonts/InstrumentSans-Regular.ttf");
}

body{
  font-family: regular;
}
.skita{
  font-family: "Skita Banner";
}


